<section class="container">

	<h1>Users Index</h1>

	<table class="table">

		<tr>
			<th>firstname</th>
			<th>lastname</th>
			<th>email</th>
			<th>Home Phone</th>
			<th>Address Phone</th>
			<th>Utils</th>
		</tr>

		<% @users.each do |user| %>
		<tr>
			<td><%= user.firstname %></td>
			<td><%= user.lastname %></td>
			<td><%= user.email %></td>

			<td><%= user.phone ? user.phone.number : 'null' %></td>
			<td><%= user.address ? user.address.number: 'null' %></td>
			<td>
				<%= link_to 'sporting_goods', admin_user_sporting_goods_path(user) %>
			</td>
		</tr>
		<% end %>

	</table>

</section>
